.yvp-wr {
    display: inline-block;
    position: relative;
    font-family: arial, "Roboto";
}

.yvp-video {
    vertical-align: middle;
}

video {
    display: inline-block;
    vertical-align: baseline;
}

.yvp-wr:-webkit-full-screen {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border: 0;
}

.yvp-container {
    display: block;
    vertical-align: top;
    box-sizing: border-box;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.yvp-container.yvp-fullscreen {
    width: 100% !important;
    height: 100% !important;
    padding-top: 0 !important;
    position: absolute;
    top:0;
    left:0;
}

.yvp-container.yvp-fullscreen video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.yvp-controlbar {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    position: absolute;
    width: 90%;
    height: 35px;
    background: rgba(0,0,0,.6);
    bottom: 10px;
    left: 5%;
    cursor:pointer;
    border-radius: 8px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.yvp-controlbar > * {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    display: flex;
    position: relative;
    box-sizing: inherit;
    width:3.4em;
    align-items: flex-start;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.yvp-playbtn {
    height: 100%;
    display: inline-block;
    cursor: pointer;
}

.yvp-playbtn > div {
    color: #FFF;
    width: inherit;
    text-align:center;
    line-height: 35px;
    vertical-align:middle;
}

.yvp-playbtn > div {
    transition: text-shadow 0.25s;
    -webkit-transition: text-shadow 0.25s;
    -moz-transition: text-shadow 0.25s;
    -o-transition: text-shadow 0.25s;
}

.yvp-playbtn-play:before {
    content: "\f04b";
}

.yvp-playbtn-pause:before {
    content: "\f04c";
}

.yvp-fsbtn,
.yvp-progresstime,
.yvp-volumebtn {
    height: 100%;
    display: inline-block;
    cursor: pointer;
    color: #FFF;
    text-align:center;
    line-height: 35px;
    vertical-align:middle;
}

.yvp-volumebtn {
    width:1.75em;
    z-index: 1;
}

.yvp-playbtn > div:hover,
.yvp-fsbtn:hover,
.yvp-volumebtn:hover {
    text-shadow: 0px 0px 10px rgba(255,200,200,1);
}

.yvp-volumebtn:hover .yvp-volumectrl {
    height: 6em;
}

.yvp-volumectrl {
    width: 100%;
    height: 0;
    background: rgba(0,0,0,.6);
    position: absolute;
    bottom: 35px;
    left: 0;
    border-radius: 6px 6px 0 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    overflow: hidden;
    z-index: 10;
}

.yvp-volumeholder {
    outline: 0;
    position: relative;
    padding: 0;
    background-color: #31363e;
    background-color: rgba(115, 133, 159, 0.3);
    margin: auto;
    width: 0.25em;
    height: 4.8em;
    top: 12%;
    border-radius: 6px;
}

.yvp-volumelevel {
    /* background-color: #22a3ff; */
    background-color: #E97128;
    /* background-color: #ffb800; */
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius:5px;
    z-index: 21;
}

.yvp-volumectrl:hover .yvp-volumelevel:before {
    font-size: 0.9em;
}

.yvp-volumectrl:hover .yvp-volumeholder {
    width: 0.34em;
}

.yvp-volumelevel:before {
    position: absolute;
    top: -0.5em;
    right: -0.24em;
    font-size: 0px;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

.yvp-playbtn > div,
.yvp-fsbtn {
    transition: text-shadow 0.25s;
    -webkit-transition: text-shadow 0.25s;
    -moz-transition: text-shadow 0.25s;
    -o-transition: text-shadow 0.25s;
}

.yvp-progressctrl {
    -webkit-box-flex: auto;
    -moz-box-flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 4em;
}

.yvp-progressctrl:hover .yvp-progressholder,
.yvp-progressctrl:hover .yvp-playprogress,
.yvp-progressctrl:hover .yvp-bufferprogress {
    height: 0.4em;
}
.yvp-progressctrl:hover .yvp-playprogress:before {
    font-size: 0.9em;
    visibility: visible;
}

.yvp-progressholder {
    outline: 0;
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0 0.45em 0 0.45em;
    background-color: #31363e;
    background-color: rgba(115, 133, 159, 0.3);
    -webkit-box-flex: auto;
    -moz-box-flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
}

.yvp-playprogress {
    background-color: #22a3ff;
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    width: 0;
    left: 0;
    top: 0;
}

.yvp-bufferprogress {
    background-color: rgba(98, 139, 169, 0.58);
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    width: 0;
    left: 0;
    top: 0;
}

.yvp-progressholder, .yvp-playprogress,
.yvp-bufferprogress {
    height: 0.2em;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    border-radius: 4px;
}

.yvp-playprogress:before {
    position: absolute;
    top: -0.24em;
    right: -0.5em;
    font-size: 0px;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

.yvp-progresstime {
    width: 3em;
    line-height: 31px;
}

.yvp-progresstime > span {
    font-size: 11px;
    color: #CCC;
}
